<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="CODE_IDENTIFIER" value="virtualCode2" />
    <add key="DATA_IDENTIFIER" value="virtualData2" />
    <add key="DEFAULT_MOST_FREQUENT_OPERATION" value="true" />
    <add key="INSTRUCTION_SIZE_POSTFIX" value="30" />
    <add key="INSTRUCTION_SIZE_PREFIX" value="30" />
    <add key="INSTRUCTION_SIZE_OFFSET" value="20" />
    <add key="MAX_INVOCATIONS" value="1" />
    <add key="MAX_OPERANDS" value="2" />
    <add key="MAX_JUNK_CODE" value="10" />
    <add key="MAX_DATA_KEY" value="3999" />
    <add key="MAX_CODE_KEY" value="99999" />
    <add key="MIN_SWITCH_KEY" value="1000" />
    <add key="MAX_SWITCH_KEY" value="9999" />
    <add key="VPC_IDENTIFIER" value="virtualVpc" />
  </appSettings>
</configuration>